#php_value upload_max_filesize 40M
#php_value post_max_size 42M
#Options +FollowSymLinks
RewriteEngine on
RewriteCond %{HTTP_HOST} ^.kzone.vn
ErrorDocument 404 /404.php
RewriteRule ^(.*)$ http://radio.kzone.vn/$1 [R=permanent,L]
RewriteRule ^admin controller/admin/index.php
RewriteRule ^login controller/admin/login.php
RewriteRule ^dang-nhap.html controller/default/login.php
RewriteRule ^dang-xuat.html controller/default/logout.php
RewriteRule ^xac-nhan.html controller/default/confirm_login.php
RewriteRule ^check-login.html controller/default/check_login.php
RewriteRule ^check-validate.html controller/default/function_share/check_valid.php
RewriteRule ^doi-mat-khau-login/([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+)/$ controller/default/doimatkhau_login.php?param1=$1&param2=$2&param3=$3&param4=$4&param5=$5

RewriteRule ^update-status/$ controller/default/function_share/update_status.php
RewriteRule ^get-detail-ajax/$ controller/default/function_share/get_detail.php

RewriteRule ^nhan-vien/$ controller/default/user/user.php
RewriteRule ^nhan-vien/xoa$ controller/default/user/delete.php
RewriteRule ^nhan-vien/them-moi controller/default/user/themmoi.php
RewriteRule ^nhan-vien/sua controller/default/user/themmoi.php
RewriteRule ^nhan-vien/phan-quyen$ controller/default/user/phanquyen.php
RewriteRule ^nhan-vien/check-pass-old$ controller/default/user/check_pass_old.php
RewriteRule ^nhan-vien/update-pass$ controller/default/user/update_pass.php
RewriteRule ^tree-phan-quyen$ controller/default/user/tree.php
RewriteRule ^update-phan-quyen$ controller/default/user/phanquyen_update.php
RewriteRule ^profile.html$ controller/default/user/hoso.php

RewriteRule ^khach-hang/$ controller/default/customer/customer.php
RewriteRule ^khach-hang/them-moi controller/default/customer/themmoi.php
RewriteRule ^khach-hang/sua controller/default/customer/themmoi.php
RewriteRule ^khach-hang/xoa$ controller/default/customer/delete.php